version: '3'
services:
  app:
    image: ext4/laravel-prod-ilife-app:latest
    container_name: app
    restart: unless-stopped
    tty: true
    env_file: .env
    volumes:
      - ./storage:/var/www/storage
      # - /root/docker/volume/storage:/var/www/storage
    depends_on:
      - cache
    networks:
      - laravel-prod
    extra_hosts:
      - "host.docker.internal:host-gateway"
  # app:
  #   build:
  #     context: ./
  #   volumes:
  #     - .:/var/www
  #     - ./storage:/var/www/storage
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     - APP_ENV=local
  #     - APP_ROOT="/var/www"

  web_server:
    image: ext4/ilife-web-server:latest
    container_name: web_server
    restart: unless-stopped
    tty: true
    ports:
      - "8002:80"
    depends_on:
      - app
    networks:
      - laravel-prod

  cache:
    image: redis:alpine
    container_name: cache
    restart: unless-stopped
    volumes:
      - ./storage/redis/data:/data
      # - /root/docker/volume/storage/redis/data:/data
    networks:
      - laravel-prod

#Docker Networks
networks:
  laravel-prod:
    driver: bridge